*{
    border: 0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    
    font-family: 'Roboto', sans-serif;
}

h1, h1 span, .f-logo, .cta, .drawing-year, .drawing-year span, footer h3{font-family: 'Domine', serif}

html{
    --black: #2E3027;
    --white: #FFE8D6;
    --gray: #CB997E;
    --accent: #A5A58D;
    scroll-behavior: smooth;

}
nav {
    width:100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links {
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
    list-style: none;
    color: var(--black)
}
.nav-links a{
    margin: 0 2vw;
    border-bottom: 1px var(--accent) solid;
    color: var(--black);
    font-size: 1.3em;
}
a:hover{
    background-image: url("../images/t5arbicha.svg");
    background-size: cover;
}
.nav-links li a:after{
    content:" old";
    font-size: 0.8em;
   
}

.f-logo{
    margin-left: 8%;
    font-size: 2em;
    font-weight:700 ;
}
.f-logo img{
    width: 1em;
}



.hero-container h1, .hero-container h2{
    margin-left: 16%;
    color: var(--black);
    margin-top: 0.7em;
}
.hero-container h1{
    font-size: 7vw;
}
.hero-container h2{
    font-weight: 400;
    font-size: 1.5vw;
    width: 40%;
}
.cta{display:flex;justify-content: flex-end;}
.cta img{
    position: relative;
    height: 17vw;
    top: 1vw;
    margin-right: 10%;
  
}


.timeline{
    background-color: var(--black);
    color: var(--white);
    padding-top: 10em;
}

.drawing {
  
    border-top: 1em solid var(--white);
    margin-left:16%;
    position: relative;
  }
.drawing a{
    color: var(--gray);
    border-bottom: 1px solid;
}
.drawing-year {
    width:min-content;
    font-size: 7vw;
    font-weight: 600;
    padding: 10px 0;
    position: sticky;
    top: 0;
    text-align: left;
    height: calc(0vw + 65px);
    transition: all 0.2s ease-in;
}
.drawing-year span{
    font-size: 2.5vw;
}

.picture-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom:5em;
}
.picture-container img{
    margin-right: 5%;
    width: 55%;
    z-index: 2;
}
.picture-container p{
    font-size: 1.5em;
  
    width: 30%;

}

.micro-button a{
    content: "ss";
    position: absolute;
    width: 16%;
    height: 1em;
    background-color: var(--white);
}
.thank-you{
    display: flex;
    padding: 6em 5% 6em;
    margin:  auto;
    width: fit-content;
    flex-direction: column;
    align-items:center;
    font-size: 6vh;  
    color:var(--black);
}
.thank-you img{
    width: 40vh;
    align-self: flex-end;
    padding-top:0.5em;
}

@media all and (max-width: 1000px){

    .timeline, .hero-container h1, .hero-container h2{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .hero-container h1{font-size:3em ;width: 90%;margin-top:20vh}
    .hero-container h2{font-size:1em ;width: 90%}
    .cta img{width: 100%; max-width: 25em;height: auto; margin: 3em auto 0 auto;}

    nav{font-size:0.7em}
    .f-logo{font-size:1.4em}
    .picture-container{
    flex-direction: column-reverse;
    align-items: center;
    }
    .drawing{
        margin-left:0;
        
    }
    .drawing-year{
    margin-left:5%;    
    font-size: 15vw;
    margin-bottom:35vw;
    }
    .drawing-year span{
        font-size:5vw;
    }

    .picture-container img{
        margin:0 auto;
        width: 90%
    }
    .picture-container p {
        padding-top:1em;
        font-size: 0.9em;
        width: 85%;
        margin-bottom: 20vh;
      
    }
}
